body {
  /* From CSS Tricks */
  /* https://tinyurl.com/qxs6jey */
  background-attachment: fixed;
  background-color: darkgray;
  background-image: url(../media/audience.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* From CSS Tricks */
}

.keyboard {
  height: 70px;
  margin: auto;
  position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  text-align: center;
  width: 1000px;
}

.key {
  background-color: rgba(0, 0, 0, .5);
  border: 3px solid black;
  border-radius: 3px;
  display: inline-block;
  margin: 0 5px;
  padding: 10px;
  text-align: center;
  width: 90px;
}

.key:hover {
  cursor: pointer;
}

.key-down {
  border: 3px solid #fdc331;
  box-shadow: 0 0 7px 2px #fdc331;
  transform: scale(1.1);
}

.letter {
  color: whitesmoke;
  font-family: 'Coustard', serif;
  font-size: 1.75em;
}

.description {
  color: #fdc331;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.5em;
  margin-top: 5px;
}
